/* Original styles */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top left, #28b487, #7dd56f);
    margin: 0;
    overflow-x: hidden;
  }
  
  h1 {
    font-family: sans-serif;
    font-size: 50px;
    line-height: 1.3;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: white;
    margin: 0;
  }
  .topnav {
    /* background-color: #333;  */
    width: 30%;
    overflow: hidden;
    display: flex; 
    justify-content: space-between; 
  }

  .topnav a {
    float: left; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    
  }

  .topnav a.active {
    background-color: #4caf50; 
  }

  .topnav a:hover {
    background-color: #ddd; 
    color: black;
  }
  form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 20px; /* Added margin for spacing */
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="number"] {
    width: calc(100% - 20px); /* Adjusted width to include padding */
    padding: 10px; /* Added padding */
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p.result {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
  }
  
  /* Slider styles */
  .slider-container {
    width: 80%;
    margin: 20px auto;
    position: relative;
  }
  
  .slider {
    height: 20px;
    background: linear-gradient(to right, blue, green, orange, red);
    border-radius: 10px;
  }
  
  .slider-mark {
    width: 5px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    transform: translateX(-50%);
  }
  