body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 20px;
    margin: 0;
}

header h1 {
    color: #00509e;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00509e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #00376b;
}
